// Libs
@import "lib/bourbon/bourbon";
@import "lib/base/base";
@import "lib/normalize";
@import "lib/progressbar";



// Box-Sizing
*,
*:before,
*:after {
  @include box-sizing(border-box);
}



// No-JS
.no-js-warning {
  color: red;
  display: none;
  font-weight: bold;

  html.no-js & {
    display: block;
  }
}

html.no-js #searchInput {
  display: none;
}



// Layout
.container {
  margin: 0 auto;
  max-width: 52em;
  padding: 1em 2em;
}

.results {
  padding-top: 1em;
}



// Header
.header {
  padding-right: 1.25em; // compensate for content-box input layout
  text-align: center;
}



// Messaging
.message {
  padding-top: 4em;
  text-align: center;

  &.placeholder {
    color: #aaa;
    font-style: italic;
  }

  &.noResults {
    color: red;
    font-weight: bold;
  }
}



// Photo List
.photoList {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;

  li {
    border: 1px solid rgba(0,0,0,0.25);
    display: inline-block;
    height: 75px;
    line-height: 1;
    margin: 0 0.1em;
    overflow: hidden;
    position: relative;
    width: 75px;
  }

  a {
    width: 75px;
    height: 75px;
    display: block;

    img {
      @include transition(opacity 0.2s ease-in-out);
      height: 75px;
      left: 0;
      opacity: 0.25;
      position: absolute;
      top: 0;
      width: 75px;
      z-index: -1;
    }

    span {
      @include transition(opacity 0.15s ease-in-out);
      color: #000;
      text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
      display: block;
      font-size: 1.25em;
      overflow: hidden;
      padding: 1.5em 0.25em 0;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &:hover {
      img {
        opacity: 1;
      }

      span {
        opacity: 0;
      }
    }
  }
}



// Loader
.loader {
  text-align: center;
  padding-top: 2em;

  .counter {
    font-style: italic;
    color: #aaa;
  }

  .loadMorePhotos {
    margin-top: 0.5em;
    padding: 0.25em 1em;
  }
}



// Custom Progress Bar Styles
.progress-bar {
  margin-top: 4em;
  width: 50%;

  .loader & {
    margin-top: 1em;
  }
}
