// Libs
@import "lib/bourbon/bourbon";
@import "lib/base/base";
@import "lib/normalize";



// Box-Sizing
*,
*:before,
*:after {
  @include box-sizing(border-box);
}



// No-JS
.no-js-warning {
  color: red;
  display: none;
  font-weight: bold;

  html.no-js & {
    display: block;
  }
}

html.no-js #searchInput {
  display: none;
}



// Layout
.container {
  padding: 1em 2em;
}

.results {
  padding-top: 1em;
}



// Header
.header {
  padding-right: 1.5em; // compensate for content-box input layout
  text-align: center;
}



// Messaging
.placeholder,
.noResults {
  color: #CCC;
  font-style: italic;
  padding-top: 4em;
  text-align: center;
}
