<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Flickr Search</title>

  <link rel="stylesheet" href="css/main.css" />

  <!-- JS Detection -->
  <script type="text/javascript">
    document.documentElement.className = document.documentElement.className.replace(/(^|\s)no-js(\s|$)/, '$1$2') + 'js';
  </script>
</head>
<body>



  <!-- HTML -->
  <div class="container">
    <div class="header" role="banner">
      <h1>Search Flickr</h1>

      <input type="search" id="searchInput" placeholder="Enter Search Term">

      <div class="no-js-warning">
        <p>JavaScript must be running to utilize this application.</p>
      </div>
    </div>

    <div class="results" role="main"></div>
  </div>



  <!-- Templates -->
  <script type="text/html" id="placeholderTemplate">
    <div class="message placeholder">Enter a search term to see some photos.</div>
  </script>

  <script type="text/html" id="noResultsTemplate">
    <div class="message noResults">No photos found. Refine your search query.</div>
  </script>

  <script type="text/html" id="loadingTemplate">
    <div class="progress-bar">
      <span class="meter" style="width: 100%"></span>
    </div>
  </script>

  <script type="text/html" id="photosTemplate">
    <ul>
      <% _.each(photos, function(photo) { %>
        <li>
          <a href="<%= photo.linkUrl %>">
            <img src="<%= photo.url_sq %>" alt="<%= photo.title %>">
            <span class="viewCount"><%= photo.views %></span>
          </a>
        </li>
      <% }); %>
    </ul>
  </script>



  <!-- JS -->
  <script src="js/lib/jquery.js"></script>
  <script src="js/lib/underscore.js"></script>
  <script src="js/lib/backbone.js"></script>
  <script src="js/main.js"></script>



</body>
</html>
